body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    display: block;
}

#container {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.screen {
    grid-area: 1 / 1 / 2 / 2;
}

.buttons {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.clear {
    grid-area: 1 / 1 / 2 / 3;
}

.delete {
    grid-area: 1 / 3 / 2 / 5;
}



